/**
 * Markdown用のCSS
 *
 */
ol, ul {
	list-style: inside;
}
ol {
	list-style-type: decimal;
}
em {
	font-style: italic;
}
pre, code, var, samp, kbd, .mono {
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 14px;
	line-height: 1.2;
}

