<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{DOCUMENT_ROOT}caches/thumbnail_$1.jpg !-s
	RewriteRule ^photos/thumbnail/([0-9]*)$ caches/thumbnail_$1.jpg

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>
